* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    direction: rtl; 
    background-color: white;
    color: black;
    text-align: right;
    font-size: 14px;
    padding: 8px 20px;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 40px;
    background-color: white;
    font-family: Arial, sans-serif;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    margin-left: 20px; 
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-left {
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    margin-left: 10px; 
    cursor: pointer;
}

.logo {
    width: 60px;
}

