.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: white;
    font-family: Arial, sans-serif;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-left {
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.logo {
    width: 60px;
}
